* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #080035ee;
    color: aliceblue; 
    overflow: auto;
}

body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: aliceblue;
}
html {
    scroll-behavior: smooth;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    width: 8vh;
    min-width: 22px;
    position: absolute;
}

.sesi {
    width: 15vh;
    margin-left: 10px;
}

header {
    display: block;
    position: sticky;
    top: 0;
    justify-content: space-around;
    background: #080035;
    display: flex;
    padding: 10px;
    height: 13vh;
    min-height: 50px;
    z-index: 1;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 6rem;
}

.depois {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 6rem;
}

#nav ul {
    display: flex;
    align-items: center;
    width: 100%;
}

ul li {
    font-size: 3vh;
    margin: 10px;
    padding: 1vh;
}

li:hover {
    padding: 5px;
    background: #0a0042d3;
    border-radius: 4px;
}


/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/


@media (max-width: 750px) {
    nav ul, .depois, .menu {
        display: none;
        width: 0;
    }
}