main {
    margin: 3vh;
}


main div{
    margin-bottom: 50vh;
    padding: 5vh;
}

h1{
    margin: 20px;
}
.localgrafico {
    display: flex;
    max-width: 100%;
}
.botoesgrafico {
    align-items: center;
}