.teste {
    padding: 2vh;
}

#Sobre, #Definicao, #Historia, #BVB, #Filmes {
    height: 300px;
}

#Sobre, #Definicao, #Historia, #BVB, #Filmes, #Propriedades {
    padding: 10vh 1vh;
}

h1{
    margin: 15px;
}

.teste h1{
    font-size: 30px;
}
.localgrafico {
    display: flex;
    max-width: 100%;
}
.botoesgrafico {
    align-items: center;
}

#Sobre, #Historia, #Filmes {
    background-color: aliceblue;
    color: black;
}

@media (max-width: 735px){
    .localgrafico {
        display: block;
    }
}