.teste {
    padding: 2vh;
}

#Sobre, #Definicao, #Historia, #BVB, #Filmes {
    height: 100%;
}

#Sobre, #Definicao, #Historia, #BVB, #Filmes, #Propriedades {
    padding: 10vh 1vh;
}

h1{
    margin: 15px;
}

.teste h1{
    font-size: 30px;
}
.localgrafico {
    display: flex;
    max-width: 100%;
}
.botoesgrafico {
    align-items: center;
}

#Sobre, #Historia, #Filmes {
    background: #ffffff;
    color: black;
}
p {
    text-align: justify;
    width: 80%;
    text-indent: 40px;;
    font-size: clamp(10px, 13 + 3vw, 0.91em);
    padding: 5px 20px;
}

@media (max-width: 735px){
    .localgrafico {
        display: block;
    }
}